In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import math

from sklearn.tree            import DecisionTreeRegressor
from sklearn.linear_model    import LinearRegression,Ridge,Lasso,RidgeCV, LassoCV, ElasticNetCV
from sklearn.ensemble        import RandomForestRegressor
from sklearn.model_selection import cross_val_score, KFold,train_test_split 
from sklearn.metrics         import r2_score,mean_squared_error
from sklearn.ensemble        import RandomForestRegressor,  GradientBoostingRegressor 
from xgboost                 import XGBRegressor 

from sklearn.model_selection import GridSearchCV, RandomizedSearchCV,ParameterGrid
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.ensemble import BaggingRegressor

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
train_df = pd.read_csv("C:\\Users\\Dashang\\Downloads\\Github\\Stayze_Rent_Predicition\\Stayze_Rent_Predicition_Hackathon\\Dashang\\data\\train_processedWithLog1pTarget.csv")

In [3]:
test_df = pd.read_csv("C:\\Users\\Dashang\\Downloads\\Github\\Stayze_Rent_Predicition\\Stayze_Rent_Predicition_Hackathon\\Dashang\\data\\test_processed.csv")

In [4]:
train_df.isnull().sum()

latitude                             0
longitude                            0
minimum_nights                       0
number_of_reviews                    0
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
log_(price+1)                        0
neighbourhood_group_Bronx            0
neighbourhood_group_Brooklyn         0
neighbourhood_group_Manhattan        0
neighbourhood_group_Queens           0
neighbourhood_group_Staten Island    0
room_type_Entire home/apt            0
room_type_Private room               0
room_type_Shared room                0
dtype: int64

In [5]:
train_df_with_dummies = train_df

In [6]:
X=train_df_with_dummies.drop(['log_(price+1)'],axis=1)
y=train_df_with_dummies['log_(price+1)']

In [7]:
#y= target
#x = nums
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=24)

In [8]:
# instantiate lasso model
lasso = LassoCV(cv=5, random_state=10)

In [9]:

# fit and predict
lasso.fit(X_train,y_train)
y_pred_lasso = lasso.predict(X_test)
print('Train RMSE:',np.sqrt(mean_squared_error(y_train, lasso.predict(X_train))))
print('Test RMSE:',np.sqrt(mean_squared_error(y_test, lasso.predict(X_test))))

Train RMSE: 0.6886418193047159
Test RMSE: 0.6949761795279098

In [10]:
np.sqrt(mean_squared_error(y_train,np.exp(lasso.predict(X_train))-1)), np.sqrt(mean_squared_error(y_test,np.exp(lasso.predict(X_test))-1))

(109.37060582627123, 109.37268151995129)

## TEST DATA

In [14]:
test_df

,id,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,room_type_Entire home/apt,room_type_Private room,room_type_Shared room
0,1525602,40.66751,-73.95867,2,121,1.70,1,39,0,1,0,0,0,1,0,0
1,30430185,40.75655,-73.99690,1,18,2.49,30,364,0,0,1,0,0,0,1,0
2,21354525,40.69252,-73.99121,1,87,4.29,1,108,0,1,0,0,0,0,1,0
3,35995074,40.77292,-73.90101,9,0,0.01,2,365,0,0,0,1,0,0,1,0
4,34392081,40.71863,-73.94980,1,28,14.00,2,20,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14664,27730191,40.59446,-73.94289,2,1,0.59,1,36,0,1,0,0,0,1,0,0
14665,29676417,40.74319,-73.98074,2,1,0.16,1,365,0,0,1,0,0,0,0,1
14666,1813829,40.82519,-73.94530,1,93,1.34,3,358,0,0,1,0,0,0,1,0
14667,25017403,40.72238,-73.99466,1,15,1.12,8,34,0,0,1,0,0,1,0,0
14668,19057073,40.68932,-73.94947,5,23,0.95,1,1,0,1,0,0,0,1,0,0

In [15]:
test_id_col = test_df['id']

In [16]:
test_df.isnull().sum()

id                                   0
latitude                             0
longitude                            0
minimum_nights                       0
number_of_reviews                    0
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
neighbourhood_group_Bronx            0
neighbourhood_group_Brooklyn         0
neighbourhood_group_Manhattan        0
neighbourhood_group_Queens           0
neighbourhood_group_Staten Island    0
room_type_Entire home/apt            0
room_type_Private room               0
room_type_Shared room                0
dtype: int64

In [17]:
test_df_with_dummies = test_df

In [18]:
test_df_with_dummies = test_df_with_dummies.drop(['id'],axis=1)

In [19]:
test_df_with_dummies.columns

Index(['latitude', 'longitude', 'minimum_nights', 'number_of_reviews',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'neighbourhood_group_Bronx',
       'neighbourhood_group_Brooklyn', 'neighbourhood_group_Manhattan',
       'neighbourhood_group_Queens', 'neighbourhood_group_Staten Island',
       'room_type_Entire home/apt', 'room_type_Private room',
       'room_type_Shared room'],
      dtype='object')

In [22]:
test_df_with_dummies['price']= lasso.predict(test_df_with_dummies)

In [23]:
test_df_with_dummies['price'] = np.exp(test_df_with_dummies['price'])-1

In [24]:
submissions_lasso = pd.concat([test_id_col, test_df_with_dummies['price']], axis=1)

In [25]:
submissions_lasso.to_csv('submission_lassoCV.csv', index=False)

In [26]:
submissions_lasso

             id       price
0       1525602  105.784279
1      30430185  129.387716
2      21354525  109.902905
3      35995074  125.287765
4      34392081  108.265533
...         ...         ...
14664  27730191  109.739727
14665  29676417  125.077132
14666   1813829  121.493106
14667  25017403  110.219635
14668  19057073  107.472702

[14669 rows x 2 columns]

In [27]:
submissions_lasso.isnull().sum()

id       0
price    0
dtype: int64