In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import math

from sklearn.tree            import DecisionTreeRegressor
from sklearn.linear_model    import LinearRegression,Ridge,Lasso,RidgeCV, LassoCV, ElasticNetCV
from sklearn.ensemble        import RandomForestRegressor,AdaBoostRegressor
from sklearn.model_selection import cross_val_score, KFold,train_test_split 
from sklearn.metrics         import r2_score,mean_squared_error
from sklearn.ensemble        import RandomForestRegressor,  GradientBoostingRegressor 
from xgboost                 import XGBRegressor 
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
train_df = pd.read_csv("C:\\Users\\Dashang\\Downloads\\Github\\Stayze_Rent_Predicition\\Stayze_Rent_Predicition_Hackathon\\Dashang\\data\\train_LE_processed.csv")

In [4]:
test_df = pd.read_csv("C:\\Users\\Dashang\\Downloads\\Github\\Stayze_Rent_Predicition\\Stayze_Rent_Predicition_Hackathon\\Dashang\\data\\test_LE_processed.csv")

In [5]:
train_df.isnull().sum()

neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
log_(price+1)                     0
dtype: int64

In [6]:
train_df_with_dummies = train_df

In [7]:
X=train_df_with_dummies.drop(['log_(price+1)'],axis=1)
y=train_df_with_dummies['log_(price+1)']

In [8]:
#y= target
#x = nums
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=24)

In [9]:
# adaboost =  AdaBoostRegressor(DecisionTreeRegressor(max_depth=4),n_estimators=300, random_state=10)
adaboost =  AdaBoostRegressor(random_state=10)

In [10]:

# fit and predict
adaboost.fit(X_train,y_train)
y_pred_lasso = adaboost.predict(X_test)
print('Train RMSE:',np.sqrt(mean_squared_error(y_train, adaboost.predict(X_train))))
print('Test RMSE:',np.sqrt(mean_squared_error(y_test, adaboost.predict(X_test))))

Train RMSE: 0.6670715253513914
Test RMSE: 0.6842459735688989

## TEST DATA

In [21]:
test_df

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,1525602,1200603,1,49,40.66751,-73.95867,0,2,121,1.70,1,39
1,30430185,224414117,2,93,40.75655,-73.99690,1,1,18,2.49,30,364
2,21354525,11743513,1,24,40.69252,-73.99121,1,1,87,4.29,1,108
3,35995074,4128829,3,52,40.77292,-73.90101,1,9,0,0.01,2,365
4,34392081,259630588,1,200,40.71863,-73.94980,1,1,28,14.00,2,20
...,...,...,...,...,...,...,...,...,...,...,...,...
14664,27730191,32215382,1,165,40.59446,-73.94289,0,2,1,0.59,1,36
14665,29676417,223248121,2,109,40.74319,-73.98074,2,2,1,0.16,1,365
14666,1813829,9501531,2,92,40.82519,-73.94530,1,1,93,1.34,3,358
14667,25017403,10407935,2,139,40.72238,-73.99466,0,1,15,1.12,8,34
14668,19057073,538008,1,13,40.68932,-73.94947,0,5,23,0.95,1,1

In [22]:
test_id_col = test_df['id']

In [23]:
test_df.isnull().sum()

id                                0
host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [29]:
test_df_with_dummies = test_df.drop(['host_id'],axis=1)

In [31]:
test_df_with_dummies = test_df_with_dummies.drop(['id'],axis=1)

In [32]:
X.columns

Index(['neighbourhood_group', 'neighbourhood', 'latitude', 'longitude',
       'room_type', 'minimum_nights', 'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [33]:
test_df_with_dummies.columns

Index(['neighbourhood_group', 'neighbourhood', 'latitude', 'longitude',
       'room_type', 'minimum_nights', 'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [34]:
test_df_with_dummies['price']= adaboost.predict(test_df_with_dummies)

In [35]:
test_df_with_dummies['price'] = np.exp(test_df_with_dummies['price'])-1

In [36]:
submissions_adaboost = pd.concat([test_id_col, test_df_with_dummies['price']], axis=1)

In [37]:
submissions_adaboost.to_csv('submissions_adaboost.csv', index=False)

In [38]:
submissions_adaboost

             id       price
0       1525602  202.906075
1      30430185  159.905912
2      21354525  105.602856
3      35995074  171.857971
4      34392081   72.249714
...         ...         ...
14664  27730191  164.002375
14665  29676417  420.145709
14666   1813829   98.478239
14667  25017403  202.906075
14668  19057073  198.105307

[14669 rows x 2 columns]

In [39]:
submissions_adaboost.isnull().sum()

id       0
price    0
dtype: int64