In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import math


from sklearn.tree            import DecisionTreeRegressor
from sklearn.linear_model    import LinearRegression,Ridge,Lasso,RidgeCV, LassoCV, ElasticNetCV
from sklearn.ensemble        import RandomForestRegressor
from sklearn.model_selection import cross_val_score, KFold,train_test_split 
from sklearn.metrics         import r2_score,mean_squared_error
from sklearn.ensemble        import RandomForestRegressor,  GradientBoostingRegressor 
from xgboost                 import XGBRegressor 
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [17]:
train_df = pd.read_csv("C:\\Users\\Dashang\\Downloads\\Github\\Stayze_Rent_Predicition\\Stayze_Rent_Predicition_Hackathon\\Dashang\\data\\train_LE_processed.csv")

In [18]:
test_df = pd.read_csv("C:\\Users\\Dashang\\Downloads\\Github\\Stayze_Rent_Predicition\\Stayze_Rent_Predicition_Hackathon\\Dashang\\data\\test_LE_processed.csv")

In [19]:
train_df.isnull().sum()

neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
log_(price+1)                     0
dtype: int64

In [20]:
train_df_with_dummies = train_df

In [21]:
X=train_df_with_dummies.drop(['log_(price+1)'],axis=1)
y=train_df_with_dummies['log_(price+1)']

In [22]:
#y= target
#x = nums
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=24)

In [23]:
model = XGBRegressor()
parameters = {'learning_rate': [0.01,0.02],
                  'subsample'    : [0.5, 0.2],
                  'n_estimators' : [100],
                  'max_depth'    : [4,6]  
                 }

In [24]:
grid = GridSearchCV(estimator=model, param_grid = parameters, cv = 5, n_jobs=2, verbose=9)
grid.fit(X_train, y_train)    

# Results from Grid Search
print("\n========================================================")
print(" Results from Grid Search " )
print("========================================================")    
    
print("\n The best estimator across ALL searched params:\n",grid.best_estimator_)
    
print("\n The best score across ALL searched params:\n",grid.best_score_)
    
print("\n The best parameters across ALL searched params:\n",grid.best_params_)

Fitting 5 folds for each of 8 candidates, totalling 40 fits

[Parallel(n_jobs=2)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=2)]: Done   4 tasks      | elapsed:   15.3s
[Parallel(n_jobs=2)]: Done  14 tasks      | elapsed:   44.5s
[Parallel(n_jobs=2)]: Done  28 tasks      | elapsed:  1.4min
[Parallel(n_jobs=2)]: Done  40 out of  40 | elapsed:  2.0min finished

[14:56:08] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

========================================================
 Results from Grid Search
========================================================

 The best estimator across ALL searched params:
 XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.02, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.5, verbosity=1)

 The best score across ALL searched params:
 -0.10702595904170463

 The best parameters across ALL searched params:
 {'learning_rate': 0.02, 'max_depth': 6, 'n_estimators': 100, 'subsample': 0.5}

In [25]:
xgbmodel = XGBRegressor(learning_rate=0.02, max_depth=6, n_estimators=100, subsample=0.5)

In [26]:
xgbmodel.fit(X_train,y_train)

[14:57:31] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.02, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=0.5, verbosity=1)

In [27]:
y_pred = xgbmodel.predict(X_test)
print('Train RMSE:',np.sqrt(mean_squared_error(y_train, xgbmodel.predict(X_train))))
print('Test RMSE:',np.sqrt(mean_squared_error(y_test, xgbmodel.predict(X_test))))

Train RMSE: 0.7232951288907736
Test RMSE: 0.7375020518233244

## TEST DATA

In [36]:
test_df

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
0,1525602,1200603,1,49,40.66751,-73.95867,0,2,121,1.70,1,39
1,30430185,224414117,2,93,40.75655,-73.99690,1,1,18,2.49,30,364
2,21354525,11743513,1,24,40.69252,-73.99121,1,1,87,4.29,1,108
3,35995074,4128829,3,52,40.77292,-73.90101,1,9,0,0.01,2,365
4,34392081,259630588,1,200,40.71863,-73.94980,1,1,28,14.00,2,20
...,...,...,...,...,...,...,...,...,...,...,...,...
14664,27730191,32215382,1,165,40.59446,-73.94289,0,2,1,0.59,1,36
14665,29676417,223248121,2,109,40.74319,-73.98074,2,2,1,0.16,1,365
14666,1813829,9501531,2,92,40.82519,-73.94530,1,1,93,1.34,3,358
14667,25017403,10407935,2,139,40.72238,-73.99466,0,1,15,1.12,8,34
14668,19057073,538008,1,13,40.68932,-73.94947,0,5,23,0.95,1,1

In [37]:
test_id_col = test_df['id']

In [38]:
test_df.isnull().sum()

id                                0
host_id                           0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
minimum_nights                    0
number_of_reviews                 0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [39]:
test_df_with_dummies = test_df.drop(['host_id'],axis=1)

In [40]:
test_df_with_dummies = test_df_with_dummies.drop(['id'],axis=1)

In [41]:
test_df_with_dummies.columns

Index(['neighbourhood_group', 'neighbourhood', 'latitude', 'longitude',
       'room_type', 'minimum_nights', 'number_of_reviews', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365'],
      dtype='object')

In [42]:
test_df_with_dummies['price']= xgbmodel.predict(test_df_with_dummies)

In [43]:
test_df_with_dummies['price'] = np.exp(test_df_with_dummies['price'])-1

In [44]:
submissions_xgbmodel = pd.concat([test_id_col, test_df_with_dummies['price']], axis=1)

In [45]:
submissions_xgbmodel.to_csv('submission_xgbmodel_best_estimator.csv', index=False)

In [46]:
submissions_xgbmodel

             id       price
0       1525602   74.935226
1      30430185   86.732445
2      21354525   52.515682
3      35995074   40.926918
4      34392081   47.758636
...         ...         ...
14664  27730191   70.404579
14665  29676417   75.008003
14666   1813829   43.483532
14667  25017403  109.655037
14668  19057073   70.634438

[14669 rows x 2 columns]

In [47]:
submissions_xgbmodel.isnull().sum()

id       0
price    0
dtype: int64