In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import math

from sklearn.tree            import DecisionTreeRegressor
from sklearn.linear_model    import LinearRegression,Ridge,Lasso,RidgeCV, LassoCV, ElasticNetCV
from sklearn.ensemble        import RandomForestRegressor,AdaBoostRegressor
from sklearn.model_selection import cross_val_score, KFold,train_test_split 
from sklearn.metrics         import r2_score,mean_squared_error
from sklearn.ensemble        import RandomForestRegressor,  GradientBoostingRegressor 
from xgboost                 import XGBRegressor 
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [29]:
train_df = pd.read_csv("C:\\Users\\Dashang\\Downloads\\Github\\Stayze_Rent_Predicition\\Stayze_Rent_Predicition_Hackathon\\Dashang\\data\\train_processedWithLog1pTarget.csv")

In [30]:
test_df = pd.read_csv("C:\\Users\\Dashang\\Downloads\\Github\\Stayze_Rent_Predicition\\Stayze_Rent_Predicition_Hackathon\\Dashang\\data\\test_processed.csv")

In [31]:
train_df.isnull().sum()

latitude                             0
longitude                            0
minimum_nights                       0
number_of_reviews                    0
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
log_(price+1)                        0
neighbourhood_group_Bronx            0
neighbourhood_group_Brooklyn         0
neighbourhood_group_Manhattan        0
neighbourhood_group_Queens           0
neighbourhood_group_Staten Island    0
room_type_Entire home/apt            0
room_type_Private room               0
room_type_Shared room                0
dtype: int64

In [32]:
train_df_with_dummies = train_df

In [33]:
X=train_df_with_dummies.drop(['log_(price+1)'],axis=1)
y=train_df_with_dummies['log_(price+1)']

In [34]:
#y= target
#x = nums
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.30, random_state=24)

In [35]:
# adaboost =  AdaBoostRegressor(DecisionTreeRegressor(max_depth=4),n_estimators=300, random_state=10)
adaboost =  AdaBoostRegressor(random_state=10)

In [36]:

# fit and predict
adaboost.fit(X_train,y_train)
y_pred_lasso = adaboost.predict(X_test)
print('Train RMSE:',np.sqrt(mean_squared_error(y_train, adaboost.predict(X_train))))
print('Test RMSE:',np.sqrt(mean_squared_error(y_test, adaboost.predict(X_test))))

Train RMSE: 0.6914231047689215
Test RMSE: 0.7065271691480773

In [39]:
np.sqrt(mean_squared_error(y_train,np.exp(adaboost.predict(X_train))-1))

209.96114852795557

In [40]:
np.sqrt(mean_squared_error(y_test,np.exp(adaboost.predict(X_test))-1))

209.9539279568893

In [ ]:
print('Train RMSE:',np.sqrt(mean_squared_error(y_train, adaboost.predict(X_train))))

## TEST DATA

In [11]:
test_df

,id,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,room_type_Entire home/apt,room_type_Private room,room_type_Shared room
0,1525602,40.66751,-73.95867,2,121,1.70,1,39,0,1,0,0,0,1,0,0
1,30430185,40.75655,-73.99690,1,18,2.49,30,364,0,0,1,0,0,0,1,0
2,21354525,40.69252,-73.99121,1,87,4.29,1,108,0,1,0,0,0,0,1,0
3,35995074,40.77292,-73.90101,9,0,0.01,2,365,0,0,0,1,0,0,1,0
4,34392081,40.71863,-73.94980,1,28,14.00,2,20,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14664,27730191,40.59446,-73.94289,2,1,0.59,1,36,0,1,0,0,0,1,0,0
14665,29676417,40.74319,-73.98074,2,1,0.16,1,365,0,0,1,0,0,0,0,1
14666,1813829,40.82519,-73.94530,1,93,1.34,3,358,0,0,1,0,0,0,1,0
14667,25017403,40.72238,-73.99466,1,15,1.12,8,34,0,0,1,0,0,1,0,0
14668,19057073,40.68932,-73.94947,5,23,0.95,1,1,0,1,0,0,0,1,0,0

In [12]:
test_id_col = test_df['id']

In [18]:
test_df.isnull().sum()

id                                   0
latitude                             0
longitude                            0
minimum_nights                       0
number_of_reviews                    0
reviews_per_month                    0
calculated_host_listings_count       0
availability_365                     0
neighbourhood_group_Bronx            0
neighbourhood_group_Brooklyn         0
neighbourhood_group_Manhattan        0
neighbourhood_group_Queens           0
neighbourhood_group_Staten Island    0
room_type_Entire home/apt            0
room_type_Private room               0
room_type_Shared room                0
dtype: int64

In [19]:
test_df_with_dummies = test_df

In [20]:
test_df_with_dummies = test_df_with_dummies.drop(['id'],axis=1)

In [21]:
test_df_with_dummies.columns

Index(['latitude', 'longitude', 'minimum_nights', 'number_of_reviews',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'neighbourhood_group_Bronx',
       'neighbourhood_group_Brooklyn', 'neighbourhood_group_Manhattan',
       'neighbourhood_group_Queens', 'neighbourhood_group_Staten Island',
       'room_type_Entire home/apt', 'room_type_Private room',
       'room_type_Shared room'],
      dtype='object')

In [22]:
test_df_with_dummies['price']= adaboost.predict(test_df_with_dummies)

In [23]:
test_df_with_dummies['price'] = np.exp(test_df_with_dummies['price'])-1

In [24]:
submissions_adaboost = pd.concat([test_id_col, test_df_with_dummies['price']], axis=1)

In [25]:
submissions_adaboost.to_csv('submissions_adaboost.csv', index=False)

In [26]:
submissions_adaboost

             id       price
0       1525602  183.905877
1      30430185  215.447791
2      21354525   93.233630
3      35995074  238.440755
4      34392081   19.897637
...         ...         ...
14664  27730191  209.127603
14665  29676417  392.776978
14666   1813829   86.190466
14667  25017403  226.535409
14668  19057073  151.658515

[14669 rows x 2 columns]

In [27]:
submissions_adaboost.isnull().sum()

id       0
price    0
dtype: int64