In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

from sklearn.tree            import DecisionTreeRegressor
from sklearn.neural_network  import MLPRegressor
from sklearn.linear_model    import LinearRegression
from sklearn.ensemble        import RandomForestRegressor
from sklearn.model_selection import cross_val_score, KFold
from sklearn.model_selection import train_test_split
from sklearn.metrics         import mean_squared_error
from sklearn.metrics         import r2_score

In [85]:
train_df = pd.read_csv("C:\\Users\\Dashang\\Downloads\\Github\\Stayze_Rent_Predicition\\Stayze_Rent_Predicition_Hackathon\\Dashang\\data\\Train.csv")

In [86]:
test_df = pd.read_csv("C:\\Users\\Dashang\\Downloads\\Github\\Stayze_Rent_Predicition\\Stayze_Rent_Predicition_Hackathon\\Dashang\\data\\Test.csv")

In [89]:
len(train_df.neighbourhood.unique()) , len(train_df.neighbourhood_group.unique()), len(test_df.neighbourhood.unique()) , len(test_df.neighbourhood_group.unique())

(217, 5, 207, 5)

In [68]:
def removal_of_outliers(df,room_t, nhood, distance):
    '''Function removes outliers that are above 3rd quartile and below 1st quartile'''
    '''The exact cutoff distance above and below can be adjusted'''

    new_piece = df[(df["room_type"]==room_t)&(df["neighbourhood_group"]==nhood)]["log_price"]
    #defining quartiles and interquartile range
    q1 = new_piece.quantile(0.25)
    q3 = new_piece.quantile(0.75)
    IQR=q3-q1

    trimmed = df[(df.room_type==room_t)&(df["neighbourhood_group"]==nhood) &(df.log_price>(q1-distance*IQR))&(df.log_price<(q3+distance*IQR))]
    return trimmed

In [69]:
def date_replacement(date):
    if date <=3:
        return "Last_review_last_three_day"
    elif date <= 7:
        return "Last_review_last_week"
    elif date <= 30:
        return "Last_review_last_month"
    elif date <= 183:
        return "Last_review_last_half_year"
    elif date <= 365:
        return "Last_review_last year"
    elif date <= 1825:
        return "Last_review_last_5_years"
    else:
        return "Last_review_never"

In [70]:
def PreProcessing(df):
    #fill missing values for last review and reviews per month with 0
    df[["last_review", "reviews_per_month"]] = df[["last_review", "reviews_per_month"]].fillna(0)
    
    #if there is no host name or listing name fill in None
    df[["name", "host_name"]] = df[["name", "host_name"]].fillna("None")
    
    #Drop rows were price of the listing is 0. We are not intersted in "free" 
    #listings as they are most likely an error.
    if 'price' in df.columns:
        free = len(df[df.price == 0])
        df = df[df.price != 0].copy()
    
    df = df[df["minimum_nights"] <=31].copy()
    
    #separate out numerical variables
    a=pd.DataFrame(df.dtypes.copy())
    b= a[a[0] != 'object'].reset_index()
    #drop id and host id:
    numeric_vars=b["index"].tolist()[2:]
    
    for num in numeric_vars[3:]:
        df["log_("+num+" +1)"] = np.log(df[num]+1)
        
    if 'price' in df.columns:
        df["log_price"] = np.log(df.price)
    df=df.drop(columns = numeric_vars[2:]).copy()
    
    numeric_vars = df.columns.tolist()[6:8]+df.columns.tolist()[10:]
    x=df[numeric_vars].apply(lambda x: np.log(np.abs(x+1))).corr(method='pearson')
    
    #separate out numerical variables
    a=pd.DataFrame(df.dtypes.copy())
    b= a[a[0] == 'object'].reset_index()
    #drop id and host id:
    non_num=b["index"].tolist()
    
    grouped = df.groupby("neighbourhood")
    
    if 'price' in df.columns:
        price_grouped = grouped["log_price"]
        price = price_grouped.agg([np.mean,np.median,np.max, np.std]).sort_values("mean")
    
    #One hot encoding
    df = pd.concat([df, pd.get_dummies(df["neighbourhood"], drop_first=False)], axis=1)
    #save neighborhoods into a list for further analysis:
    neighborhoods = df.neighbourhood.values.tolist()
    boroughs = df.neighbourhood_group.unique().tolist()
    #drop the neighbourhood column from the database
    df.drop(['neighbourhood'],axis=1, inplace=True)
    
    grouped = df.groupby("room_type")
    if 'price' in df.columns:
        room_type_price_grouped = grouped["log_price"]
        room_type_price = room_type_price_grouped.agg([np.mean,np.median,np.max, np.std]).sort_values("mean")
        room_type_price
    
    if 'price' in df.columns:
        #apply the function
        df_private = pd.DataFrame()
        for neighborhood in boroughs:
            a = removal_of_outliers(df, "Private room",neighborhood,3)
            df_private = df_private.append(a)

        df_shared = pd.DataFrame()
        for neighborhood in boroughs:
            a = removal_of_outliers(df, "Shared room",neighborhood,3)
            df_shared = df_shared.append(a)
    
        df_apt = pd.DataFrame()
        for neighborhood in boroughs:
            a = removal_of_outliers(df, "Entire home/apt",neighborhood,3)
            df_apt = df_apt.append(a)
    
        # Create new dataframe to absorb newly produced data    
        df_old=df.copy()    
        df = pd.DataFrame()
        df = df.append([df_private,df_shared,df_apt])

    grouped = df.groupby("room_type")
    if 'price' in df.columns:
        room_type_price_grouped = grouped["log_price"]
        room_type_price = room_type_price_grouped.agg([np.mean,np.median,np.max, np.std]).sort_values("mean")
    
    #convert room types to dummies
    df = pd.concat([df, pd.get_dummies(df["room_type"], drop_first=False)], axis=1)
    df.drop(['room_type'],axis=1, inplace=True)
    
    #convert object to datetime:
    df["last_review"] = pd.to_datetime(df["last_review"])
    
    df["last_review"]=df["last_review"].apply(lambda x: dt.datetime(2019,7,8)-x)
    df["last_review"]=df["last_review"].dt.days.astype("int").replace(18085, 1900)
    
    df["last_review"]=df["last_review"].apply(lambda x: date_replacement(x))
    grouped = df.groupby("last_review")
    if 'price' in df.columns:
        last_review_price_grouped = grouped["log_price"]
        last_review_price = last_review_price_grouped.agg([np.mean,np.median,np.max, np.std]).sort_values("mean")
    
    #convert last review to dummies
    df = pd.concat([df, pd.get_dummies(df["last_review"], drop_first=False)], axis=1)
    df.drop(["last_review"],axis=1, inplace=True)

     #convert last review to dummies
    df = pd.concat([df, pd.get_dummies(df['neighbourhood_group'], drop_first=False)], axis=1)
    df.drop(['neighbourhood_group'],axis=1, inplace=True)
    
    #drop unnecessary columns
    df = df.drop(['id','name','host_id','host_name'], axis=1).copy()
    #copy for later
    #df2 = df.copy()
    return df

In [71]:
train_df = PreProcessing(train_df)

In [72]:
target = train_df['log_price'].copy()
#drop unnecessary columns
train_df = train_df.drop(['log_price'], axis=1).copy()
#strip the target column from input columns and put it in front
train_df = pd.concat([target, train_df], axis=1).copy()
#select input variable columns
nums = train_df.iloc[:,1:]

In [73]:
train_df.head()

,log_price,latitude,longitude,log_(minimum_nights +1),log_(number_of_reviews +1),log_(reviews_per_month +1),log_(calculated_host_listings_count +1),log_(availability_365 +1),Allerton,Arden Heights,...,Last_review_last_half_year,Last_review_last_month,Last_review_last_three_day,Last_review_last_week,Last_review_never,Bronx,Brooklyn,Manhattan,Queens,Staten Island
0,4.787492,40.72217,-73.99481,2.079442,1.386294,0.058269,1.386294,0.000000,0,0,...,0,0,0,0,0,0,0,1,0,0
1,7.313220,40.80020,-73.96045,0.693147,0.000000,0.000000,0.693147,0.000000,0,0,...,0,0,0,0,1,0,0,1,0,0
2,5.298317,40.75558,-73.89316,1.098612,1.609438,1.609438,0.693147,5.902633,0,0,...,0,0,1,0,0,0,0,0,1,0
3,3.401197,40.60110,-74.07830,1.098612,0.000000,0.000000,1.609438,4.418841,0,0,...,0,0,0,0,1,0,0,0,0,1
4,4.744932,40.81022,-73.94266,0.693147,2.833213,0.239017,0.693147,5.902633,0,0,...,1,0,0,0,0,0,0,1,0,0

In [74]:
x.head()

,latitude,longitude,log_(minimum_nights +1),log_(number_of_reviews +1),log_(reviews_per_month +1),log_(calculated_host_listings_count +1),log_(availability_365 +1),Allerton,Arden Heights,Arrochar,...,Last_review_last_half_year,Last_review_last_month,Last_review_last_three_day,Last_review_last_week,Last_review_never,Bronx,Brooklyn,Manhattan,Queens,Staten Island
0,40.72217,-73.99481,2.079442,1.386294,0.058269,1.386294,0.000000,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,40.80020,-73.96045,0.693147,0.000000,0.000000,0.693147,0.000000,0,0,0,...,0,0,0,0,1,0,0,1,0,0
2,40.75558,-73.89316,1.098612,1.609438,1.609438,0.693147,5.902633,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,40.60110,-74.07830,1.098612,0.000000,0.000000,1.609438,4.418841,0,0,0,...,0,0,0,0,1,0,0,0,0,1
4,40.81022,-73.94266,0.693147,2.833213,0.239017,0.693147,5.902633,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [75]:
y= target
x = nums
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.20, random_state=1)

In [76]:
from sklearn.linear_model import LinearRegression

In [77]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
y_pred_train = lr.predict(X_train)
print('Train RMSE:',np.sqrt(mean_squared_error(y_train, lr.predict(X_train))))
print('Test RMSE:',np.sqrt(mean_squared_error(y_test, lr.predict(X_test))))

Train RMSE: 0.45628738199176766
Test RMSE: 0.45271814250586656

## LinearReg TEST PREDICTION

In [79]:
test_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1525602,Perfect Temporary Brooklyn Home,1200603,Andrea,Brooklyn,Crown Heights,40.66751,-73.95867,Entire home/apt,2,121,2019-05-31,1.70,1,39
1,30430185,BIG APPLE - COMFY KING ROOM,224414117,Gabriel,Manhattan,Hell's Kitchen,40.75655,-73.99690,Private room,1,18,2019-05-05,2.49,30,364
2,21354525,Cozy Brooklyn Heights Getaway w/ Manhattan Access,11743513,Henry,Brooklyn,Brooklyn Heights,40.69252,-73.99121,Private room,1,87,2019-06-16,4.29,1,108
3,35995074,Amazing*Quiet*Sunny*Bedroom*PrivateLivingRm*Ch...,4128829,Sara,Queens,Ditmars Steinway,40.77292,-73.90101,Private room,9,0,NaN,NaN,2,365
4,34392081,Hello! This is a very cozy space in Williamsburg.,259630588,Alina,Brooklyn,Williamsburg,40.71863,-73.94980,Private room,1,28,2019-06-26,14.00,2,20

In [81]:
test_id_col = test_df['id']

In [82]:
test_df = PreProcessing(test_df)

In [84]:
train_df.shape , test_df.shape

((33824, 239), (14516, 228))

In [83]:
test_df['price'] = lr.predict(test_df)

ValueError: shapes (14516,228) and (238,) not aligned: 228 (dim 1) != 238 (dim 0)

In [124]:
test_df['price'] = np.exp(test_df['price'])-1

In [125]:
submissions_lr = pd.concat([test_id_col, test_df['price']], axis=1)

In [126]:
submissions_lr.to_csv('submission_LinearReg.csv', index=False)

In [127]:
submissions_lr

         ID  cc_cons
0     17591      inf
1     13541      inf
2     13431      inf
3      8687      inf
4     14727      inf
...     ...      ...
4995  12512      inf
4996  14224      inf
4997  18740      inf
4998  18134      inf
4999  12413      inf

[5000 rows x 2 columns]